table {
    height: fit-content;
    width: 500px;
    background-color: #9e0000;
    border: 3px solid lightgray;
    border-collapse: collapse;
    margin: 30px auto;
}

table th {
    border: 2px solid whitesmoke;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    text-decoration: double;
    text-transform: none;
    line-height: 30px;
    word-spacing: normal;
    word-wrap: normal;
    padding-left: 4px;
    text-shadow: 0 0 6px black;
}

table td {
    border: 2px solid whitesmoke;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-decoration: double;
    text-transform: none;
    line-height: 30px;
    word-spacing: normal;
    word-wrap: normal;
    padding-left: 4px;
    border-radius: 20px;
}

.header-links ul li:nth-child(3) {
    display: none;
}

.header-links ul li:nth-child(4) {
    display: none;
}

@media (max-width: 420px) {

    table {
        width: 90%;
    }

    table td {
        padding-left: 2px;
        border-radius: 30px;
    }

    table th {
        padding-left: 2px;
        font-size: 16px;
    }

    table th:nth-child(5) {
        display: none;
    }

    table td:nth-child(5) {
        display: none;
    }

    table td:nth-child(2) {
        text-align: center;
        padding: 0;
    }

    table th:nth-child(2) {
        text-align: center;
        padding: 0;
    }

    table td:nth-child(3) {
        text-align: center;
        padding: 0;
    }

    table th:nth-child(3) {
        text-align: center;
        padding: 0;
    }

    table td:nth-child(4) {
        text-align: center;
        padding: 0;
    }

    table th:nth-child(4) {
        text-align: center;
        padding: 0;
    }
}
